.Start {
  background-color: red;
}
.End {
  background-color: red;
}
.Blank {
  background-color: white;
}
.Wall {
  background-color: #343a40;
}

.visited {
  background-color: yellow;
}
.final_path {
  background-color: green;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
